# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Stina\Desktop\Nackademin\OOP\Intellij Ideaj projekt\Lektion_10\Uppgift_2_Joel_Granberg\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
